/*
 * IPC configuration for custom flpr-128k snippet
 */

/ {
	soc {
		reserved-memory {
			#address-cells = <1>;
			#size-cells = <1>;

			// Shared IPC: 2KB at 0x2000C000
			sram_rx: memory@2000c000 {
				reg = <0x2000c000 0x400>;  // 1KB
			};

			sram_tx: memory@2000c400 {
				reg = <0x2000c400 0x400>;  // 1KB
			};
		};
	};

	ipc {
		ipc0: ipc0 {
			compatible = "zephyr,ipc-icmsg";
			dcache-alignment = <32>;
			tx-region = <&sram_tx>;
			rx-region = <&sram_rx>;
			mboxes = <&cpuapp_vevif_rx 20>, <&cpuapp_vevif_tx 21>;
			mbox-names = "rx", "tx";
			status = "okay";
		};
	};
};

&cpuapp_vevif_rx {
	status = "okay";
};

&cpuapp_vevif_tx {
	status = "okay";
};
